<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theworkingbros.ak.assist">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".Activities.CGPA"
            android:label="CGPA Calculator" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Activities.club"
            android:label="Campus Clubs" />
        <activity
            android:name=".Activities.allclubs"
            android:label="Club Details" />
        <activity android:name=".Activities.CourseMaterial" />
        <activity android:name=".Activities.cousefinal" />

        <activity android:name=".Activities.library" />
        <activity android:name=".study.StudyMaterials" />
        <activity
            android:name=".Activities.LoginPage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
             />
        <activity android:name=".Activities.Addpost"></activity>
    </application>

</manifest>